body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-size: 40px;
}

#task_form {
    width: 300px;
    padding: 10px;
    margin: 10px;
    background-color: lightcoral;
    border: 1px solid #000000;
}

.task_list {
    width: 300px;
    margin: 5px;
    padding: 5px;
    display: inline;
    border: 1px solid #000000;
    float: left;
    background-color: linen;
}

.complete {
    margin: 0 5px 0 5px;
}

.completed_list {
    width: 300px;
    margin: 5px;
    padding: 5px;
    display: inline;
    border: 1px solid #000000;
    float: left;
    background-color: lightgray;
}

.unchecked {
    background-color: lightsalmon;
}

